<!DOCTYPE html>

<html>

    <head>
        <title>MVC con Express</title>
        <meta charset="utf-8">
        <meta name="author" content="Francisco Sola Porcuna">
        <link rel="stylesheet" href="/css/global.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/javascripts/tratar.js"></script>
        <!--  <script type="text/javascript" src="/javascripts/modelo.js"></script>
        <script type="text/javascript" src="script/controladores.js"></script>
        <script type="text/javascript" src="script/vistas.js"></script> -->
    </head>
    <script type="text/javascript">
    </script>

    <body>
        <header class="bordes">
            <div class='contenedor'>
                <br>
                <h1>Página de Bienvenida.</h1>
                <br>
            </div>
        </header>
        <div id="main" class="bordes">
            <div id="principal">
                <br>
                <h2>Base de Datos.</h2>
                <br>
                <div id="datosbase">
                </div>
                <br>
            </div>
            </main>
            <footer class="bordes">
                <div class="contenedor">
                    MVC CON EXPRESS
                    <%=visitas%>
                </div>
            </footer>

    </body>

</html>